.env
.git/
.github/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
artifacts/
data/
docs/
*.log
README.md
tests/
**/*.cer
**/*.crt
**/*.der
**/*.jks
**/*.kdbx
**/*.key
**/*.keystore
**/*.p12
**/*.pem
**/*.pfx
**/*.pkcs12
